[submodule "identity-access-management"]
	path = identity-access-management
	url = git@github.com:RetailPulse/identity-access-management.git
[submodule "user-management"]
	path = user-management
	url = git@github.com:RetailPulse/user-management.git
[submodule "backend"]
	path = backend
	url = git@github.com:RetailPulse/backend.git
[submodule "web-app"]
	path = web-app
	url = git@github.com:RetailPulse/web-app.git
