[submodule "identity-access-management"]
  path = identity-access-management
  url = https://github.com/RetailPulse/identity-access-management.git
[submodule "user-management"]
  path = user-management
  url = https://github.com/RetailPulse/user-management.git
[submodule "web-app"]
  path = web-app
  url = https://github.com/RetailPulse/web-app.git
[submodule "BusinessEntityMicroservice"]
  path = BusinessEntityMicroservice
  url = https://github.com/RetailPulse/BusinessEntityMicroservice.git
[submodule "InventoryMicroservice"]
  path = InventoryMicroservice
  url = https://github.com/RetailPulse/InventoryMicroservice.git
[submodule "SalesMicroservice"]
  path = SalesMicroservice
  url = https://github.com/RetailPulse/SalesMicroservice.git
[submodule "ReportMicroservice"]
  path = ReportMicroservice
  url = https://github.com/RetailPulse/ReportMicroservice.git
[submodule "PaymentService"]
	path = PaymentService
	url = https://github.com/RetailPulse/PaymentService
[submodule "elk"]
	path = elk
	url = git@github.com:RetailPulse/logging-monitoring-elk.git
